## Part1: Data Processing

In [1]:
import json
import pathlib
import urllib.parse
#!pip install geoalchemy2
#!pip install geopandas
import geoalchemy2 as gdb
from geoalchemy2 import Geometry
import geopandas as gpd
import pandas as pd
from pandas import DataFrame
import glob
import gc
import requests
import os
import shapely
from shapely import wkt
import sqlalchemy as db
from sodapy import Socrata

from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine, MetaData, Column, Integer, Float, String, Time, Date, inspect
from sqlalchemy.dialects.postgresql import insert

#!pip install psycopg2
import psycopg2 as pc2



import matplotlib.pyplot as plt

In [2]:
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "IRRl7waby6A5Hecvpg5A8mGG0"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "FINAL_PROJECT_4501_2023"
DB_USER = "finalproject"
DB_URL = f"postgresql://luyueying:yvonne0807@localhost/finalproject"   
DB_SCHEMA_FILE = "schema.sql"

# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [3]:
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1 : Data preprocessing

In [4]:
def download_nyc_csv_data(data_url:str, access_token:str, start_dt:str, end_dt:str, storage_year=None:int, filename='NYC_311_Service_Requests', overwrite=False):
    """
    Fetches NYC open data in CSV format for a given period.

    Args:
        data_url (str): Base URL for the data to be downloaded.
        access_token (str): Token for API access.
        start_dt (str): Start date for data retrieval.
        end_dt (str): End date for data retrieval.
        storage_year (int): Year for naming the CSV file. Defaults to None.
        filename (int): Name of the file to be stored. Defaults to 'NYC_311_Service_Requests'.
        overwrite (bool, optional): Overwrites existing file if True. Defaults to False.

    Returns:
        None
    """
    
    DATA_FOLDER = 'data'
    os.makedirs(DATA_FOLDER, exist_ok=True)

    records_per_request = 50000000
    next_record = 0
    data_collected = False

    csv_filename = f"{filename}_{storage_year}.csv"
    csv_file_path = os.path.join(DATA_FOLDER, csv_filename)

    if not overwrite and os.path.exists(csv_file_path):
        print("File already exists. Set 'overwrite=True' to overwrite.")
        return

    while not data_collected:
        # Constructing the API query with pagination
        query = f"?$$app_token={access_token}&$where=created_date between '{start_dt}' and '{end_dt}'&$limit={records_per_request}&$offset={next_record}"
        complete_data_url = f"{data_url}{query}"

        response = requests.get(complete_data_url)

        if response.status_code != 200:
            print(f"Failed to download data. HTTP Status: {response.status_code}")
            break

        # Direct binary write to CSV file
        mode = 'wb' if next_record == 0 else 'ab'
        with open(csv_file_path, mode) as f:
            f.write(response.content)

        next_record += records_per_request
        data_collected = len(response.content) < records_per_request

    return

## zipcode

In [5]:
print("Shapefile (nyc_zipcodes.shp) examples:")
gdf_zip_code = gpd.read_file(ZIPCODE_DATA_FILE)
print(gdf_zip_code.head())

Shapefile (nyc_zipcodes.shp) examples:
  ZIPCODE BLDGZIP   PO_NAME  POPULATION          AREA STATE  COUNTY ST_FIPS  \
0   11436       0   Jamaica     18681.0  2.269930e+07    NY  Queens      36
1   11213       0  Brooklyn     62426.0  2.963100e+07    NY   Kings      36
2   11212       0  Brooklyn     83866.0  4.197210e+07    NY   Kings      36
3   11225       0  Brooklyn     56527.0  2.369863e+07    NY   Kings      36
4   11218       0  Brooklyn     72280.0  3.686880e+07    NY   Kings      36

  CTY_FIPS                   URL  SHAPE_AREA  SHAPE_LEN  \
0      081  http://www.usps.com/         0.0        0.0
1      047  http://www.usps.com/         0.0        0.0
2      047  http://www.usps.com/         0.0        0.0
3      047  http://www.usps.com/         0.0        0.0
4      047  http://www.usps.com/         0.0        0.0

                                            geometry
0  POLYGON ((1038098.252 188138.380, 1038141.936 ...
1  POLYGON ((1001613.713 186926.440, 1002314.243 ...
2  POLYGON ((1011174.276 183696.338, 1011373.584 ...
3  POLYGON ((995908.365 183617.613, 996522.848 18...
4  POLYGON ((991997.113 176307.496, 992042.798 17...

In [6]:
def load_and_clean_zipcodes(zipcode_datafile:str):
    """
    Load and clean NYC zipcode data from a shapefile.
    
    Args:
        zipcode_datafile (str): This is the file path from which we can get the 'nyc_zipcodes.shp' shapefile.
    
    Returns:
        NYC zipcodes data in geospatial data frame.
    """
    
    gdf_zip_code = gpd.read_file(zipcode_datafile)
    
    # Only keep the columns that will be needed afterwards
    columns_to_keep_zip = ['ZIPCODE', 'PO_NAME', 'POPULATION', 'AREA', 'COUNTY', 'geometry']
    gdf_zip_code = gdf_zip_code[columns_to_keep_zip]

    # Remove invalid data points: including null and duplicate values
    gdf_zip_code = gdf_zip_code.dropna()
    gdf_zip_code.drop_duplicates(inplace=True)
    gdf_zip_code.drop_duplicates(subset='ZIPCODE', keep='first', inplace=True)

    # Normalize column names
    gdf_zip_code = gdf_zip_code.rename(columns={'PO_NAME': 'Region'})
    gdf_zip_code.columns = [column_name.lower() for column_name in gdf_zip_code.columns]
    gdf_zip_code.columns = [column_name.replace(' ', '_') for column_name in gdf_zip_code.columns]
    
    # Normalize column types
    gdf_zip_code['zipcode']=gdf_zip_code['zipcode'].astype(int)
    gdf_zip_code['population']=gdf_zip_code['population'].astype(int)
    
    # Normalize the SRID of geometry.
    gdf_zip_code.crs = 'EPSG:4326'
    
    return gdf_zip_code

In [7]:
load_and_clean_zipcodes(ZIPCODE_DATA_FILE).head(5)

,zipcode,region,population,area,county,geometry
0,11436,Jamaica,18681,2.269930e+07,Queens,"POLYGON ((1038098.25187 188138.38001, 1038141...."
1,11213,Brooklyn,62426,2.963100e+07,Kings,"POLYGON ((1001613.71296 186926.43952, 1002314...."
2,11212,Brooklyn,83866,4.197210e+07,Kings,"POLYGON ((1011174.27554 183696.33771, 1011373...."
3,11225,Brooklyn,56527,2.369863e+07,Kings,"POLYGON ((995908.36545 183617.61280, 996522.84..."
4,11218,Brooklyn,72280,3.686880e+07,Kings,"POLYGON ((991997.11343 176307.49586, 992042.79..."

In [8]:
gdf_zip_code=load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
gdf_zip_code.info

<bound method DataFrame.info of      zipcode         region  population          area    county  \
0      11436        Jamaica       18681  2.269930e+07    Queens
1      11213       Brooklyn       62426  2.963100e+07     Kings
2      11212       Brooklyn       83866  4.197210e+07     Kings
3      11225       Brooklyn       56527  2.369863e+07     Kings
4      11218       Brooklyn       72280  3.686880e+07     Kings
..       ...            ...         ...           ...       ...
257    11414   Howard Beach       26148  6.392882e+07    Queens
258    10310  Staten Island       25003  5.346328e+07  Richmond
260    11249       Brooklyn       28481  1.777221e+07     Kings
261    10162       New York           0  2.103489e+04  New York
262    10119       New York           0  1.263930e+05  New York

                                              geometry
0    POLYGON ((1038098.25187 188138.38001, 1038141....
1    POLYGON ((1001613.71296 186926.43952, 1002314....
2    POLYGON ((1011174.27554 183696.33771, 1011373....
3    POLYGON ((995908.36545 183617.61280, 996522.84...
4    POLYGON ((991997.11343 176307.49586, 992042.79...
..                                                 ...
257  POLYGON ((1025670.68125 184011.38039, 1025872....
258  POLYGON ((950767.50659 172848.96866, 950787.51...
260  POLYGON ((995877.31827 203206.07494, 995968.51...
261  POLYGON ((997731.76075 219560.92215, 997641.94...
262  POLYGON ((986038.66144 213051.06312, 986135.31...

[248 rows x 6 columns]>

## Download 311 data

Download "311 Service Requests" data from NYC OpenData in three downloads, one for each three-year cohort.

In [9]:
api_url="https://data.cityofnewyork.us/resource/erm2-nwe9.csv"
access_token=NYC_DATA_APP_TOKEN
start_dt="2015-01-01T00:00:00.000"
end_dt="2017-12-31T23:59:59.999"
storage_year="2015_2017"
download_nyc_csv_data(api_url, access_token, start_dt, end_dt, storage_year)

File already exists. Set 'overwrite=True' to overwrite.

In [10]:
api_url="https://data.cityofnewyork.us/resource/erm2-nwe9.csv"
access_token=NYC_DATA_APP_TOKEN
start_dt="2018-01-01T00:00:00.000"
end_dt="2020-12-31T23:59:59.999"
storage_year="2018_2020"
download_nyc_csv_data(api_url, access_token, start_dt, end_dt, storage_year)

File already exists. Set 'overwrite=True' to overwrite.

In [11]:
api_url="https://data.cityofnewyork.us/resource/erm2-nwe9.csv"
access_token=NYC_DATA_APP_TOKEN
start_dt="2021-01-01T00:00:00.000"
end_dt="2023-09-30T23:59:59.999"
storage_year="2021_2023"
download_nyc_csv_data(api_url, access_token, start_dt, end_dt, storage_year)

Now I consolidate the three csvs into a dataframe and present it

In [ ]:
# Read and concatenate the CSV files
# file_paths = ['data/NYC_311_Service_Requests_2015_2017.csv', 
#               'data/NYC_311_Service_Requests_2018_2020.csv', 
#               'data/NYC_311_Service_Requests_2021_2023.csv']
# dataframes = [pd.read_csv(file_path) for file_path in file_paths]
# df_service = pd.concat(dataframes, ignore_index=True)
# print(df_service.head())

In [ ]:
# df_service.info()

In [ ]:
# for chunk in pd.read_csv('data/311_Service_Requests_from_2010_to_Present_20231129.csv', chunksize=chunk_size):
#     columns_needed = ['Unique Key', 'Created Date', 'Complaint Type', 'Incident Zip', 'Latitude', 'Longitude', 'Location']
#     processed_chunk = filter_t311(chunk, columns_needed, nyc_zip=nyc_zips)
#     t311_chunks.append(processed_chunk)
# geodf_311_data = pd.concat(t311_chunks)

In [14]:
def clean_311_data_2015_2017():
    """
    Clean 311 service data between 2015 and 2017.
    
    Returns:
        NYC 311 service data in data frame.
    """
    
    #df_service = pd.concat(dataframes, ignore_index=True)
    df_service_1 = pd.read_csv('data/NYC_311_Service_Requests_2015_2017.csv')
    
    # Only keep the columns that will be needed afterwards
    columns_to_keep_service = ['unique_key', 'created_date', 'complaint_type', 'incident_zip', 'latitude', 'longitude']
    df_service_1 = df_service_1[columns_to_keep_service]

    # Remove invalid data points: including null and duplicate values
    df_service_1.dropna(inplace=True)
    df_service_1.drop_duplicates(inplace=True)
    df_service_1 = df_service_1.drop_duplicates(subset=['unique_key'])
    
    # Normalize column names
    df_service_1.rename(columns={'incident_zip': 'zipcode'}, inplace=True)
    df_service_1.rename(columns={'created_date': 'date'}, inplace=True)
    df_service_1.columns = [column_name.lower() for column_name in df_service_1.columns]
    df_service_1.columns = [column_name.replace(' ', '_') for column_name in df_service_1.columns]
    
    df_service_1 = df_service_1[df_service_1['unique_key'].apply(lambda x: str(x).isdigit())]

    # Normalize Column Types
    df_service_1['unique_key'] = df_service_1['unique_key'].astype(int)
    df_service_1['zipcode'] = df_service_1['zipcode'].astype(int)
    
    
    # Formatting and sorting dates
    df_service_1['date'] = pd.to_datetime(df_service_1['date']).dt.strftime('%Y-%m-%d')
    df_service_1 = df_service_1.sort_values(by='date')
    
    # Convert DataFrame to GeoDataFrame and set CRS
    df_service_1 = gpd.GeoDataFrame(df_service_1, geometry=gpd.points_from_xy(df_service_1['longitude'], df_service_1['latitude']))
    df_service_1.set_crs(epsg=4326, inplace=True)
    
    return df_service_1

In [15]:
clean_311_data_2015_2017()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/715357067.py:10: DtypeWarning: Columns (0,8,17,24,26,27,31,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_service_1 = pd.read_csv('data/NYC_311_Service_Requests_2015_2017.csv')

,unique_key,date,complaint_type,zipcode,latitude,longitude,geometry
7240080,29616209,2015-01-01,HEAT/HOT WATER,11694,40.579690681441804,-73.83602552951092,POINT (-73.83603 40.57969)
7237350,29616474,2015-01-01,Missed Collection (All Materials),10314,40.61772901320018,-74.12881502052731,POINT (-74.12882 40.61773)
7237349,29616305,2015-01-01,Water System,11360,40.776535459756666,-73.7860177531242,POINT (-73.78602 40.77654)
7237348,29617978,2015-01-01,Illegal Parking,10023,40.77905419660125,-73.97857751720932,POINT (-73.97858 40.77905)
7237347,29615058,2015-01-01,Noise,11362,40.76013524249156,-73.7404435640624,POINT (-73.74044 40.76014)
...,...,...,...,...,...,...,...
4152,38071838,2017-12-31,WATER LEAK,11691,40.606757,-73.756674,POINT (-73.75667 40.60676)
4153,38066826,2017-12-31,UNSANITARY CONDITION,11691,40.606757,-73.756674,POINT (-73.75667 40.60676)
4154,38070312,2017-12-31,UNSANITARY CONDITION,11691,40.606757,-73.756674,POINT (-73.75667 40.60676)
4145,38068563,2017-12-31,Missed Collection (All Materials),11229,40.607327,-73.957074,POINT (-73.95707 40.60733)
0,38070156,2017-12-31,HEAT/HOT WATER,10030,40.815127,-73.943252,POINT (-73.94325 40.81513)

In [16]:
def clean_311_data_2018_2020():
    """
    Clean 311 service data between 2018 and 2020.
    
    Returns:
        NYC 311 service data in data frame.
    """
    
    #df_service = pd.concat(dataframes, ignore_index=True)
    df_service_2 = pd.read_csv('data/NYC_311_Service_Requests_2018_2020.csv')
    
    # Only keep the columns that will be needed afterwards
    columns_to_keep_service = ['unique_key', 'created_date', 'complaint_type', 'incident_zip', 'latitude', 'longitude']
    df_service_2 = df_service_2[columns_to_keep_service]

    # Remove invalid data points: including null and duplicate values
    df_service_2.dropna(inplace=True)
    df_service_2.drop_duplicates(inplace=True)
    df_service_2 = df_service_2.drop_duplicates(subset=['unique_key'])
    
    # Normalize column names
    df_service_2.rename(columns={'incident_zip': 'zipcode'}, inplace=True)
    df_service_2.rename(columns={'created_date': 'date'}, inplace=True)
    df_service_2.columns = [column_name.lower() for column_name in df_service_2.columns]
    df_service_2.columns = [column_name.replace(' ', '_') for column_name in df_service_2.columns]
    
    df_service_2 = df_service_2[df_service_2['unique_key'].apply(lambda x: str(x).isdigit())]

    # Normalize Column Types
    df_service_2['unique_key'] = df_service_2['unique_key'].astype(int)
    df_service_2['zipcode'] = df_service_2['zipcode'].astype(int)
    
    
    # Formatting and sorting dates
    df_service_2['date'] = pd.to_datetime(df_service_2['date']).dt.strftime('%Y-%m-%d')
    df_service_2 = df_service_2.sort_values(by='date')
    
    # Convert DataFrame to GeoDataFrame and set CRS
    df_service_2 = gpd.GeoDataFrame(df_service_2, geometry=gpd.points_from_xy(df_service_2['longitude'], df_service_2['latitude']))
    df_service_2.set_crs(epsg=4326, inplace=True)
    
    return df_service_2

In [17]:
clean_311_data_2018_2020()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/2000440953.py:10: DtypeWarning: Columns (0,8,17,20,24,26,27,31,32,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_service_2 = pd.read_csv('data/NYC_311_Service_Requests_2018_2020.csv')

,unique_key,date,complaint_type,zipcode,latitude,longitude,geometry
8335383,38079028,2018-01-01,Rodent,10457,40.84083795474705,-73.910309187823,POINT (-73.91031 40.84084)
8329153,38073329,2018-01-01,Request Large Bulky Item Collection,11104,40.74728256352653,-73.91978248731186,POINT (-73.91978 40.74728)
8329155,38073671,2018-01-01,HEAT/HOT WATER,10452,40.831402943890126,-73.92781884158971,POINT (-73.92782 40.83140)
8329156,38073545,2018-01-01,HEAT/HOT WATER,11226,40.647949097726034,-73.96184107097778,POINT (-73.96184 40.64795)
8329157,38079816,2018-01-01,HEAT/HOT WATER,11219,40.638883781255096,-73.99447276956329,POINT (-73.99447 40.63888)
...,...,...,...,...,...,...,...
4227,48540187,2020-12-31,Abandoned Vehicle,11234,40.607948,-73.925406,POINT (-73.92541 40.60795)
4228,48543639,2020-12-31,HEAT/HOT WATER,11225,40.665465,-73.952001,POINT (-73.95200 40.66547)
4229,48537957,2020-12-31,HEAT/HOT WATER,11212,40.673239,-73.90778,POINT (-73.90778 40.67324)
4207,48542161,2020-12-31,Street Condition,10128,40.776034,-73.943978,POINT (-73.94398 40.77603)
0,48538697,2020-12-31,Noise - Vehicle,10460,40.83582,-73.887516,POINT (-73.88752 40.83582)

In [18]:
def clean_311_data_2021_2023():
    """
    Clean 311 service data between 2021 and 2023.
    
    Returns:
        NYC 311 service data in data frame.
    """
    
    #df_service = pd.concat(dataframes, ignore_index=True)
    df_service_3 = pd.read_csv('data/NYC_311_Service_Requests_2021_2023.csv')
    
    # Only keep the columns that will be needed afterwards
    columns_to_keep_service = ['unique_key', 'created_date', 'complaint_type', 'incident_zip', 'latitude', 'longitude']
    df_service_3 = df_service_3[columns_to_keep_service]

    # Remove invalid data points: including null and duplicate values
    df_service_3.dropna(inplace=True)
    df_service_3.drop_duplicates(inplace=True)
    df_service_3 = df_service_3.drop_duplicates(subset=['unique_key'])
    
    # Normalize column names
    df_service_3.rename(columns={'incident_zip': 'zipcode'}, inplace=True)
    df_service_3.rename(columns={'created_date': 'date'}, inplace=True)
    df_service_3.columns = [column_name.lower() for column_name in df_service_3.columns]
    df_service_3.columns = [column_name.replace(' ', '_') for column_name in df_service_3.columns]
    
    df_service_3 = df_service_3[df_service_3['unique_key'].apply(lambda x: str(x).isdigit())]

    # Normalize Column Types
    df_service_3['unique_key'] = df_service_3['unique_key'].astype(int)
    df_service_3['zipcode'] = df_service_3['zipcode'].astype(int)
    
    
    # Formatting and sorting dates
    df_service_3['date'] = pd.to_datetime(df_service_3['date']).dt.strftime('%Y-%m-%d')
    df_service_3 = df_service_3.sort_values(by='date')
    
    # Convert DataFrame to GeoDataFrame and set CRS
    df_service_3 = gpd.GeoDataFrame(df_service_3, geometry=gpd.points_from_xy(df_service_3['longitude'], df_service_3['latitude']))
    df_service_3.set_crs(epsg=4326, inplace=True)
    
    return df_service_3

In [19]:
clean_311_data_2021_2023()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/3286382090.py:10: DtypeWarning: Columns (0,8,18,20,24,26,27,31,32,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_service_3 = pd.read_csv('data/NYC_311_Service_Requests_2021_2023.csv')

,unique_key,date,complaint_type,zipcode,latitude,longitude,geometry
8761053,48544884,2021-01-01,Food Poisoning,11209,40.61907281707007,-74.03286537421556,POINT (-74.03287 40.61907)
8757399,48545290,2021-01-01,Consumer Complaint,11416,40.691176158014066,-73.83815654959805,POINT (-73.83816 40.69118)
8757400,48543911,2021-01-01,Request Large Bulky Item Collection,11209,40.62554301589705,-74.03022077499206,POINT (-74.03022 40.62554)
8757401,48546044,2021-01-01,Noise - Commercial,10014,40.731415633716885,-74.00117625764136,POINT (-74.00118 40.73142)
8757402,48547796,2021-01-01,Special Projects Inspection Team (SPIT),11211,40.71214924547739,-73.96154099880602,POINT (-73.96154 40.71215)
...,...,...,...,...,...,...,...
6964,59439234,2023-09-30,Water Leak,10453,40.849361,-73.910872,POINT (-73.91087 40.84936)
6963,59436254,2023-09-30,Appliance,10453,40.849361,-73.910872,POINT (-73.91087 40.84936)
6962,58970408,2023-09-30,Elevator,10462,40.834736,-73.859859,POINT (-73.85986 40.83474)
6939,58977228,2023-09-30,Noise - Residential,11207,40.658993,-73.880256,POINT (-73.88026 40.65899)
0,58974915,2023-09-30,Noise - Street/Sidewalk,11226,40.655672,-73.959177,POINT (-73.95918 40.65567)

## Download tree data

Download "2015 Street Tree Census - Tree Data" from NYC OpenData

In [20]:
def download_nyc_tree_data():
    """
    Fetch NYC tree data and save it as a CSV file.

    Returns:
        None
    """
    
    DATA_FOLDER = 'data'
    os.makedirs(DATA_FOLDER, exist_ok=True)    
    csv_filename = "NYC_Tree_2015.csv"
    csv_file_path = os.path.join(DATA_FOLDER, csv_filename)

    # Initialize the client with your domain and app token
    client = Socrata("data.cityofnewyork.us", NYC_DATA_APP_TOKEN)

    # Fetch the data
    results = client.get("5rq2-4hqu", limit=700000)

    # Convert to pandas DataFrame
    results_df = pd.DataFrame.from_records(results)

    # Save the DataFrame as a CSV file
    results_df.to_csv(csv_file_path, index=False)
    return

In [21]:
download_nyc_tree_data()

In [22]:
df_tree = pd.read_csv('data/NYC_Tree_2015.csv')
print(df_tree.head())

   created_at  tree_id  block_id  \
0  08/27/2015   180683    348711
1  09/03/2015   200540    315986
2  09/05/2015   204026    218365
3  09/05/2015   204337    217969
4  08/30/2015   189565    223043

                                            the_geom  tree_dbh  stump_diam  \
0  {'type': 'Point', 'coordinates': [-73.84421521...         3           0
1  {'type': 'Point', 'coordinates': [-73.81867945...        21           0
2  {'type': 'Point', 'coordinates': [-73.93660770...         3           0
3  {'type': 'Point', 'coordinates': [-73.93445615...        10           0
4  {'type': 'Point', 'coordinates': [-73.97597938...        21           0

  curb_loc status health                           spc_latin  ... st_assem  \
0   OnCurb  Alive   Fair                         Acer rubrum  ...       28
1   OnCurb  Alive   Fair                   Quercus palustris  ...       27
2   OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       50
3   OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       53
4   OnCurb  Alive   Good                     Tilia americana  ...       44

  st_senate   nta            nta_name  boro_ct     state   latitude  \
0        16  QN17        Forest Hills  4073900  New York  40.723092
1        11  QN49          Whitestone  4097300  New York  40.794111
2        18  BK90   East Williamsburg  3044900  New York  40.717581
3        18  BK90   East Williamsburg  3044900  New York  40.713537
4        21  BK37  Park Slope-Gowanus  3016500  New York  40.666778

   longitude          x_sp           y_sp
0 -73.844215  1.027431e+06  202756.768749
1 -73.818679  1.034456e+06  228644.837379
2 -73.936608  1.001823e+06  200716.891267
3 -73.934456  1.002420e+06  199244.253136
4 -73.975979  9.909138e+05  182202.425999

[5 rows x 42 columns]

In [23]:
df_tree.info()
del df_tree
gc.collect()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  683788 non-null  object
 1   tree_id     683788 non-null  int64
 2   block_id    683788 non-null  int64
 3   the_geom    683788 non-null  object
 4   tree_dbh    683788 non-null  int64
 5   stump_diam  683788 non-null  int64
 6   curb_loc    683788 non-null  object
 7   status      683788 non-null  object
 8   health      652172 non-null  object
 9   spc_latin   652169 non-null  object
 10  spc_common  652169 non-null  object
 11  steward     652173 non-null  object
 12  guards      652172 non-null  object
 13  sidewalk    652172 non-null  object
 14  user_type   683788 non-null  object
 15  problems    652124 non-null  object
 16  root_stone  683788 non-null  object
 17  root_grate  683788 non-null  object
 18  root_other  683788 non-null  object
 19  trnk_wire   683788 non-null  object
 20  trnk_light  683788 non-null  object
 21  trnk_other  683788 non-null  object
 22  brnch_ligh  683788 non-null  object
 23  brnch_shoe  683788 non-null  object
 24  brnch_othe  683788 non-null  object
 25  address     683788 non-null  object
 26  zipcode     683788 non-null  int64
 27  zip_city    683788 non-null  object
 28  cb_num      683788 non-null  int64
 29  borocode    683788 non-null  int64
 30  boroname    683788 non-null  object
 31  cncldist    683788 non-null  int64
 32  st_assem    683788 non-null  int64
 33  st_senate   683788 non-null  int64
 34  nta         683788 non-null  object
 35  nta_name    683788 non-null  object
 36  boro_ct     683788 non-null  int64
 37  state       683788 non-null  object
 38  latitude    683788 non-null  float64
 39  longitude   683788 non-null  float64
 40  x_sp        683788 non-null  float64
 41  y_sp        683788 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 219.1+ MB

0

In [24]:
def clean_tree_data():
    """
    Clean tree data downloaded.
    
    Returns:
        NYC 2015 tree data in data frame.
    """
    
    df_tree = pd.read_csv('data/NYC_Tree_2015.csv')
    # Remove unnecessary columns by keeping only the ones you need
    columns_needed = ['created_at', 'tree_id', 'status','zipcode','health','spc_common', 'latitude', 'longitude']  # Replace with actual column names
    df_tree = df_tree[columns_needed]

    # Remove invalid data points: including null and duplicate values
    df_tree.dropna(inplace=True) 
    df_tree.drop_duplicates(inplace=True)

    # Normalize column names
    df_tree.rename(columns={'created_at': 'date'}, inplace=True)
    df_tree.rename(columns={'spc_common': 'species'}, inplace=True)
    df_tree.columns = [column_name.lower() for column_name in df_tree.columns]
    df_tree.columns = [column_name.replace(' ', '_') for column_name in df_tree.columns]
    
    # Normalize Column Types
    df_tree['zipcode'] = df_tree['zipcode'].astype(int)
    df_tree['date'] = pd.to_datetime(df_tree['date']).dt.strftime('%Y-%m-%d')#change date format into yyyy-mm-dd

    # Sorting dates
    df_tree=df_tree.sort_values('date')

    # Convert DataFrame to GeoDataFrame and set CRS
    df_tree = gpd.GeoDataFrame(df_tree, geometry=gpd.points_from_xy(df_tree['longitude'], df_tree['latitude']))
    df_tree.set_crs(epsg=4326, inplace=True)
    return df_tree

In [25]:
clean_tree_data()

,date,tree_id,status,zipcode,health,species,latitude,longitude,geometry
520926,2015-05-19,460,Alive,11224,Good,red maple,40.576035,-73.968930,POINT (-73.96893 40.57604)
518694,2015-05-19,29,Alive,10455,Good,Japanese zelkova,40.817659,-73.903728,POINT (-73.90373 40.81766)
519893,2015-05-19,438,Alive,11224,Good,Atlantic white cedar,40.575529,-73.973078,POINT (-73.97308 40.57553)
525097,2015-05-19,466,Alive,10473,Good,American linden,40.813207,-73.862859,POINT (-73.86286 40.81321)
542323,2015-05-19,230,Alive,10459,Poor,sugar maple,40.822537,-73.892965,POINT (-73.89296 40.82254)
...,...,...,...,...,...,...,...,...,...
506259,2016-10-05,722694,Alive,11236,Good,littleleaf linden,40.642404,-73.889086,POINT (-73.88909 40.64240)
498672,2016-10-05,722685,Alive,11206,Good,American linden,40.706990,-73.946016,POINT (-73.94602 40.70699)
496182,2016-10-05,722693,Alive,11236,Good,littleleaf linden,40.642348,-73.889021,POINT (-73.88902 40.64235)
497005,2016-10-05,722690,Alive,11236,Good,American linden,40.641570,-73.888160,POINT (-73.88816 40.64157)
505290,2016-10-05,722687,Alive,11206,Fair,swamp white oak,40.707027,-73.945624,POINT (-73.94562 40.70703)

## zillow data

In [26]:
df_zillow = pd.read_csv(ZILLOW_DATA_FILE)
print("\nCSV file (zillow_rent_data.csv) examples:")
print(df_zillow.head())

CSV file (zillow_rent_data.csv) examples:
   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     91940         3       77449        zip        TX    TX      Katy
2     91733         5       77084        zip        TX    TX   Houston
3     93144         6       79936        zip        TX    TX   El Paso
4     62093         7       11385        zip        NY    NY  New York

                                   Metro        CountyName   2015-01-31  ...  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  1606.206406  ...
1   Houston-The Woodlands-Sugar Land, TX     Harris County  1257.814660  ...
2   Houston-The Woodlands-Sugar Land, TX     Harris County          NaN  ...
3                            El Paso, TX    El Paso County          NaN  ...
4  New York-Newark-Jersey City, NY-NJ-PA     Queens County          NaN  ...

    2022-12-31   2023-01-31   2023-02-28   2023-03-31   2023-04-30  \
0  1994.653463  2027.438438  2042.237444  2049.325559  2016.531345
1  1749.697900  1738.217986  1747.305840  1758.407295  1758.891075
2  1701.217520  1706.900064  1706.067787  1723.722320  1735.484670
3  1419.480272  1458.063897  1471.726681  1466.734658  1456.175660
4  2935.808220  2895.699421  2873.209025  2881.906361  2913.546218

    2023-05-31   2023-06-30   2023-07-31   2023-08-31   2023-09-30
0  2023.438976  2031.558202  2046.144009  2053.486247  2055.771355
1  1762.980879  1771.751591  1779.338402  1795.384582  1799.631140
2  1752.132904  1756.990323  1754.429516  1757.602011  1755.031490
3  1462.478506  1466.267391  1490.237063  1488.180414  1494.366097
4  2963.964134  3005.735342  3034.413822  3064.476503  3079.585783

[5 rows x 114 columns]

In [27]:
def load_and_clean_zillow_data():
    """
    Load and clean zillow data from a csv.
    
    Returns:
        Zillow data in DataFrame.
    """
    df_zillow = pd.read_csv(ZILLOW_DATA_FILE)
    
    # Drop the columns that will not be needed afterwards
    columns_to_drop_zillow = ['SizeRank', 'RegionType', 'StateName']
    df_zillow = df_zillow.drop(columns=columns_to_drop_zillow)

    # Remove duplicate values
    df_zillow = df_zillow[df_zillow['State'] == 'NY'] # We only care about the data in NY

    # Normalize column names
    df_zillow = df_zillow.rename(columns={'RegionName': 'ZipCode'})
    df_zillow = df_zillow.rename(columns={'CountyName': 'County'})
    df_zillow.columns = [column_name.lower() for column_name in df_zillow.columns]
    df_zillow.columns = [column_name.replace(' ', '_') for column_name in df_zillow.columns]
    
    # Normalize column types
    df_zillow['zipcode']=df_zillow['zipcode'].astype(int)


    # Convert the data from wide format to long format
    # Melt the DataFrame to have Date and Rent as separate columns
    date_columns = [col for col in df_zillow.columns if '-' in col]
    df_zillow = df_zillow.melt(id_vars=['zipcode', 'state', 'city', 'metro', 'county'],
                                     value_vars=date_columns,
                                     var_name='date',
                                     value_name='rent')
    
    # Remove null values
    df_zillow = df_zillow.dropna()
    
    return df_zillow

In [28]:
load_and_clean_zillow_data()

,zipcode,state,city,metro,county,date,rent
5,11226,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,1944.609891
7,10025,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2015-01-31,3068.951823
13,11206,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,2482.829299
14,11221,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,2125.738807
20,11235,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,1687.789898
...,...,...,...,...,...,...,...
32650,12207,NY,Albany,"Albany-Schenectady-Troy, NY",Albany County,2023-09-30,1472.777778
32651,10162,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2023-09-30,5011.666667
32652,11932,NY,Bridgehampton,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,2023-09-30,34062.500000
32653,11930,NY,Amagansett,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,2023-09-30,39999.833333
32654,10004,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2023-09-30,4355.328283

## Part2: Sorting data

In [29]:
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.schema import CreateTable
from geoalchemy2 import Geometry

engine = create_engine('postgresql://luyueying:yvonne0807@localhost/finalproject', echo=True)

# Create a declarative base instance
Base = declarative_base()

# Define your models
class Zipcode(Base):
    __tablename__ = 'zipcodes'

    id = Column(Integer, primary_key=True)
    zipcode = Column(Integer)
    region = Column(String)
    population = Column(Integer)
    area = Column(Float)
    county = Column(String)
    geometry = Column(Geometry('POLYGON', srid=4326))

class Zillow(Base):
    __tablename__ = 'zillow'

    id = Column(Integer, primary_key=True)
    zipcode = Column(Integer)
    state = Column(String)
    city = Column(String)
    metro = Column(String)
    county = Column(String)
    date = Column(Date)
    rent = Column(Float)

class Servise(Base):
    __tablename__ = 'services_311'

    id = Column(Integer, primary_key=True)
    unique_key = Column(Integer)
    date = Column(Date)
    complaint_type = Column(String)
    zipcode = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)
    geometry = Column(Geometry(geometry_type='POINT', srid=4326))

class Tree(Base):
    __tablename__ = 'trees'

    id = Column(Integer, primary_key=True)
    date = Column(Date)
    tree_id = Column(Integer)
    species = Column(String)
    health = Column(String)
    status = Column(String)
    zipcode = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)
    geometry = Column(Geometry(geometry_type='POINT', srid=4326))

# Bind the engine to the metadata of the base class
Base.metadata.bind = engine

# Create a file to write the schema
with open('schema.sql', 'w') as schema_file:
    for table in Base.metadata.sorted_tables:
        create_table_sql = str(CreateTable(table).compile(engine)).strip() + ";"
        create_table_sql = create_table_sql.replace("CREATE TABLE", "CREATE TABLE IF NOT EXISTS")
        schema_file.write(create_table_sql)
        schema_file.write("\n\n")  # Add some spacing between table definitions

print("Schema exported to schema.sql")

Schema exported to schema.sql

In [34]:
from shapely.geometry import Point
import shapely.wkt
from shapely.wkt import dumps


# Database credentials
db_username = 'luyueying'
db_password = 'yvonne0807'
db_host = 'localhost'
db_port = '5432'
db_name = 'finalproject'

# Create the SQLAlchemy engine
engine = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')


# Insert the data into the 'trees' table
geodf_tree_data = clean_tree_data()

# 假设 'geometry' 列包含 Point 对象
geodf_tree_data['geometry'] = geodf_tree_data['geometry'].apply(lambda x: dumps(x))

geodf_tree_data.to_sql('trees', engine, if_exists='append', index=False)

del geodf_tree_data

# 手动触发垃圾回收
gc.collect()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/475643045.py:21: UserWarning: Geometry column does not contain geometry.
  geodf_tree_data['geometry'] = geodf_tree_data['geometry'].apply(lambda x: dumps(x))

1131

In [35]:
geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
geodf_zipcode_data['geometry'] = geodf_zipcode_data['geometry'].apply(lambda x: dumps(x))
geodf_zipcode_data.to_sql('zipcodes', engine, if_exists='append', index=False)
del geodf_zipcode_data

# 手动触发垃圾回收
gc.collect()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/294140070.py:2: UserWarning: Geometry column does not contain geometry.
  geodf_zipcode_data['geometry'] = geodf_zipcode_data['geometry'].apply(lambda x: dumps(x))

0

In [36]:
geodf_311_data_1 = clean_311_data_2015_2017()
geodf_311_data_1['geometry'] = geodf_311_data_1['geometry'].apply(lambda x: dumps(x))
geodf_311_data_1.to_sql('services', engine, if_exists='append', index=False)
del geodf_311_data_1

# 手动触发垃圾回收
gc.collect()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/715357067.py:10: DtypeWarning: Columns (0,8,17,24,26,27,31,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_service_1 = pd.read_csv('data/NYC_311_Service_Requests_2015_2017.csv')
/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/4022250391.py:2: UserWarning: Geometry column does not contain geometry.
  geodf_311_data_1['geometry'] = geodf_311_data_1['geometry'].apply(lambda x: dumps(x))

0

In [37]:
geodf_311_data_2 = clean_311_data_2018_2020()
geodf_311_data_2['geometry'] = geodf_311_data_2['geometry'].apply(lambda x: dumps(x))
geodf_311_data_2.to_sql('services', engine, if_exists='append', index=False)
del geodf_311_data_2

# 手动触发垃圾回收
gc.collect()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/2000440953.py:10: DtypeWarning: Columns (0,8,17,20,24,26,27,31,32,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_service_2 = pd.read_csv('data/NYC_311_Service_Requests_2018_2020.csv')
/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/3748896184.py:2: UserWarning: Geometry column does not contain geometry.
  geodf_311_data_2['geometry'] = geodf_311_data_2['geometry'].apply(lambda x: dumps(x))

0

In [38]:
geodf_311_data_3 = clean_311_data_2021_2023()
geodf_311_data_3['geometry'] = geodf_311_data_3['geometry'].apply(lambda x: dumps(x))
geodf_311_data_3.to_sql('services', engine, if_exists='append', index=False)
del geodf_311_data_3

# 手动触发垃圾回收
gc.collect()

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/3286382090.py:10: DtypeWarning: Columns (0,8,18,20,24,26,27,31,32,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_service_3 = pd.read_csv('data/NYC_311_Service_Requests_2021_2023.csv')
/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_7313/3844909301.py:2: UserWarning: Geometry column does not contain geometry.
  geodf_311_data_3['geometry'] = geodf_311_data_3['geometry'].apply(lambda x: dumps(x))

0

In [41]:
df_zillow_data = load_and_clean_zillow_data()
df_zillow_data.to_sql('zillows', engine, if_exists='append', index=False)
del df_zillow_data

# 手动触发垃圾回收
gc.collect()

0